.wait {
  text-align: center;
  margin: auto;
  color: lightgray;
}
.globe {
  display: block;
  border: 2px solid #8bc34a;
  border-radius: 50%;
  height: 140px;
  left: 50%;
  overflow: hidden;
  position: relative;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 140px;
}
.globe svg {
  animation: rotation 5s linear 0s infinite;
}
.globe svg path {
  stroke: #8BC34A;
}
@keyframes rotation {
  from {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}
.box {
  text-align: center;
  width: 500px;
  height: 350px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 8px 6px -6px black;
  border: 2px solid #27ee4f;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 28px 16px -26px black;
  -moz-box-shadow: 0 28px 16px -26px black;
  box-shadow: 0 28px 16px -26px black;
}
.box .btn {
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 10px;
  color: darkgreen;
  cursor: pointer;
}
.box .btn:hover {
  background-color: darkgreen;
  color: white;
}
.box input {
  border: 1px green solid;
  border-radius: 4px;
  padding: 1px 2px;
  margin-bottom: 4px;
  text-align: left;
}
.shadow {
  -webkit-box-shadow: 0 28px 16px -26px black;
  -moz-box-shadow: 0 28px 16px -26px black;
  box-shadow: 0 28px 16px -26px black;
}
.fa {
  font-weight: 500;
  font-size: 2rem;
  margin: 10px;
  color: green;
}
.fa.active {
  color: darkgreen;
}
.fa:hover {
  color: lawngreen;
}
#map {
  position: relative;
  margin: auto;
  height: 300px;
  border-radius: 50px;
  width: 400px;
}
body {
  min-height: 700px;
  background: -moz-linear-gradient(-45deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9de96', endColorstr='#398235', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
