<div class="box">

    <h2>I'm a..</h2>

    <div class="gender-container">
        <ul>
            <li class="fa fa-male"  ng-class="{active:vm.active=='male'}" ng-click="vm.getMenCity()"></li>
            <li class="fa fa-female" ng-class="{active:vm.active=='female'}" ng-click="vm.getWomenCity()"></li>
        </ul>
    </div>
    <globe ng-show="vm.waiting"></globe>
    <div ng-hide="vm.waiting" class="data">
        <h2>The Best City Is:</h2>

        <h1>{{vm.data.name}}</h1>

        <map ></map>
    </div>
</div>